<div class="menu">
  <span class="menu-greeting">Hello, {{loggedUser.login}}</span>

  <a href="/logout"><i class="icon-off menu-icon" data-title="Logout"></i></a>
  <a href="/settings"><i class="icon-wrench menu-icon" data-title="Settings" style="position: relative; left: -5px;"></i></a>
</div>

{{^firstTimeUse}}
  <ul class="nav nav-tabs nav-stacked" id="sidenav">
    {{#projectNames}}
    <li><a href="/projects/{{.}}/homepage">{{.}}</a></li>
    {{/projectNames}}
  </ul>
  <a href="/projects/new" class="btn">New project</a>
  <br><br>
{{/firstTimeUse}}


<script>
$('.menu-icon').tooltip({ animation: false
                        , placement: 'bottom'
                        });
</script>
